@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background: url('/Images/background.jpg');
    display: flex;
    flex-direction: column;
    height: 80%;
}

.title1{
	width: 100%;
	margin-top: 40px;
	text-align: center;
	font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.main{
	width: 100%;
	height: 300px;
	text-align: center;
	display: flex;
	margin: auto;

}

.main2{
	width: 320px;
	height: 320px;
	margin: auto;
	display: flex;

}

.circle{
	background: conic-gradient(
		rgb(0, 255, 242) 0%,
		rgb(0, 110, 255) 40%,
		rgb(72, 73, 73) 40%,
		rgb(72, 73, 73) 60%,
		rgb(2, 2, 144) 60%,
		rgb(2, 2, 144) 100%
	);

	width: 300px;
	height: 300px;
	border-radius: 100%;
	margin: auto;
	align-items: center;
	display: flex;
	color: white;
	font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;

}

.circle2{
	background-color: rgb(3, 3, 71);
	width: 280px;
	height: 280px;
	border-radius: 100%;
	margin: auto;
	align-items: center;
	display: flex;
	color: white;
	font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;

}

.pointer{
	width: 20px;
	height: 20px;
	background-color: red;
	position: absolute;
	border-radius: 100%;
}

.RoundCircle{
	width: 320px;
	height: 320px;
	position: absolute;
	animation: movement 5s linear infinite;
	transform: rotate(45deg);
}

.text1{
	width: 100%;
	text-align: center;
}

.breathIn{
	animation: step1 5s linear infinite;
}

.holdBreath{
	transform: scale(1.3);
}

.breathOut{
	animation: step2 5s linear infinite;
}

@keyframes movement{
	from{
		transform: rotate(45deg);
	}
	to{
		transform: rotate(405deg);
	}
}

@keyframes step1{
	from{
		transform: scale(1.2);
	}
	to{
		transform: scale(1.3);
	}
}

@keyframes step2{
	from{
		transform: scale(1.3);
	}
	to{
		transform: scale(1.2);
	}
}